/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Cuprum');


/* --- HEADER ----------------------------------------------------------- */
/* Header */
.h-brand-style{
    font-family: 'Cuprum', sans-serif;
    font-size: 20pt;
}


/* --- MAIN ------------------------------------------------------------- */
/* Images */
.m-img-1 {
    background-color: #454452;
    background-image: url(../image/pc-desk.jpg);
    background-attachment: fixed;
    background-position-y: 50px;
    /*background-position-x: 50%;*/
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.m-img-overlay{
    background-image: url(../image/pattern.png);
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}

/* Text */
.m-text{
    font-family: 'Cuprum', sans-serif;
    color: white;
    margin: 100px 20px 50px 20px;
}
.m-text span{
    color: #0092db;
}
