/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Cuprum');


/* --- HEADER ----------------------------------------------------------- */
/* Header */
.h-brand-style{
    font-family: 'Cuprum', sans-serif;
    font-size: 24pt;
}


/* --- MAIN ------------------------------------------------------------- */
/* Images */
.m-img-top {
    background-color: #454452;
    background-image: url(../image/pc-desk.jpg);
    background-attachment: fixed;
    background-position-y: 50px;
    /*background-position-x: 50%;*/
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
}
.m-img-overlay{
    background-image: url(../image/pattern.png);
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}

/* Text */
.m-text{
    font-family: 'Cuprum', sans-serif;
    color: white;
    padding: 50px;
    text-shadow: 2px 2px black;
}
.m-text span {
   color: teal;
}
.m-text-skill{
    padding: 50px;
    font-size: 12pt;
    color: white;
}
.m-text-t{
    color: white;
    padding: 20px;
}


/* --- RESUME ----------------------------------------------------------- */
.r-main-container{
    padding: 50px;
}
.r-block{
    padding: 20px;
}
.r-block-inside{
    background-color: aliceblue;
    padding-bottom: 10px;
}
.r-block-inside h4{
    color: white;
    background-color: #454452;
    padding: 10px;
}

/* --- ABOUT ------------------------------------------------------------ */
.a-main-container{
    padding: 50px;
    height: 100vh;
}
